@charset "UTF-8";
.header-background {
  background-image: url("../img/header-background.jpg");
  background-size: cover; }

form .tooltip .tooltip-inner {
  background-color: #bb4444; }

form .tooltip .arrow::before {
  border-bottom-color: #bb4444 !important; }

form .form-group {
  position: relative; }
  form .form-group label {
    position: absolute;
    left: 18px;
    font-size: 10px;
    font-family: Arial;
    top: 3px; }

form .custom-control-description, form a {
  color: #aaaaaa;
  font-family: Arial; }

.item {
  height: 141px;
  overflow: hidden;
  position: relative;
  cursor: pointer; }
  .item .item-body {
    background-color: rgba(68, 136, 187, 0.75);
    color: #fff;
    padding: 10px 25px;
    font-family: Arial;
    position: absolute;
    height: 100%;
    top: 100px;
    transition: 0.4s; }
    .item .item-body .item-img {
      width: 100%; }
    .item .item-body .item-title {
      font-size: 24px;
      font-weight: bold;
      line-height: 24px;
      padding-bottom: 7px;
      position: relative; }
      .item .item-body .item-title::after {
        content: '';
        background: url("data:image/svg+xml, %3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2018%2018%22%20style%3D%22enable-background%3Anew%200%200%2018%2018%3B%22%20fill%3D%22%23fff%22%20xml%3Aspace%3D%22preserve%22%3E%0A%0A%3Cg%20id%3D%22icon_1_%22%20class%3D%22st3%22%3E%0A%09%3Cg%20id%3D%22icon%22%3E%0A%09%09%3Cg%3E%0A%09%09%09%3Cpath%20class%3D%22st4%22%20d%3D%22M9%2C0v9h9V0H9z%20M16.5%2C7.5h-6v-6h6V7.5z%20M13.5%2C16.5h-12v-12h6V3H0v15h15v-7.5h-1.5V16.5z%22/%3E%0A%09%09%3C/g%3E%0A%09%3C/g%3E%0A%3C/g%3E%0A%3C/svg%3E");
        position: absolute;
        right: 0;
        width: 18px;
        height: 18px; }
    .item .item-body .item-overview p {
      font-size: 14px;
      line-height: 18px;
      font-family: Arial; }

.bottom-space {
  margin-bottom: 30px; }

@media (max-width: 768px) {
  .col-md-4, .col-md-6 {
    padding-top: 15px;
    padding-bottom: 15px; }
  .item {
    height: 175px; }
  .item-img, .item-img img {
    height: 100%; }
  .item-body {
    top: 0 !important; }
  .container-fluid.grey {
    padding: 20px 0 !important; }
    .container-fluid.grey h2 {
      display: none; } }

@media (max-width: 991px) {
  .container-fluid.grey {
    margin: 0 !important; }
    .container-fluid.grey img {
      display: none; }
  .bottom-space > div {
    margin-bottom: 30px; }
    .bottom-space > div:last-child {
      margin-bottom: 0; }
  .item-body {
    top: 0 !important; } }

.container-fluid.grey {
  background-color: #eeeeee;
  margin-top: 75px;
  padding: 50px 0; }
  .container-fluid.grey img {
    position: absolute;
    top: -84px; }
  .container-fluid.grey h2 {
    font-family: Arial;
    font-weight: bold;
    font-size: 48px;
    color: #4488bb;
    padding-left: 53px;
    padding-bottom: 43px; }
  .container-fluid.grey ol {
    list-style-type: none;
    /* Убираем исходные маркеры */
    counter-reset: num;
    /* Задаём имя счетчика */
    padding: 0;
    margin-bottom: 0; }
  .container-fluid.grey li {
    position: relative;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    color: #4488bb;
    border-bottom: 1px dashed #afafaf;
    margin-bottom: 11px;
    padding-bottom: 11px;
    margin-left: 50px;
    cursor: pointer; }
    .container-fluid.grey li:last-child {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0; }
    .container-fluid.grey li::before {
      content: counter(num) "";
      counter-increment: num;
      background-color: #4488bb;
      border-radius: 50%;
      color: #fff;
      font-size: 18px;
      padding: 2px 10px 1px;
      margin-right: 21px;
      position: absolute;
      left: -50px; }

footer {
  padding: 20px 0; }
  footer ol {
    list-style-type: none;
    counter-reset: num;
    border-left: 5px solid #4488bb;
    padding-left: 24px;
    margin-bottom: 0; }
  footer li {
    color: #4488bb;
    font-family: Arial;
    font-size: 18px; }
    footer li::before {
      content: counter(num) "";
      counter-increment: num;
      font-size: 14px;
      margin-right: 5px;
      vertical-align: super; }

sup {
  top: 4px; }
